@charset "UTF-8";

.title {
    font-family: var(--font-set1);
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.list {
    font-family: var(--font-set1);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin-top: -6px;
}

.listItem {
    margin: 10px 0;
    position: relative;
}

.listItem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 0.1em;
    background-color: var(--color-1);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.listItem:hover::after,
.listItem:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

@media screen and (min-width: 1024px) {
    .list {
        font-size: 1.75rem;
        display: block;
    }

    .title {
        font-size: 2.5rem;
        text-align: left;
    }
}
