html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --font-set1: din-2014-narrow, Bahnschrift, sans-serif;
  --font-set2: 'Merriweather', serif;
  --color-1: hsl(102, 49%, 53%);
  --color-2: hsl(201, 14%, 24%);
}
