@charset "UTF-8";

.page {
    padding: 0 76px;
}


.title {
    font-family: var(--font-set2);
    font-size: 4rem;
    margin: 22px 0;
    text-align: center;
}

.content {

}

.products {

}


@media screen and (min-width: 1024px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    }
}
